<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uppidy.android.sdk"
    android:versionCode="1"
    android:versionName="12.07-SNAPSHOT" >
        <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />
</manifest>